body{
	background-color: #21AFBF;
}

.card{
	height: 45vh;
}

.hidden{
	display: none;
}

.hidden-card{
	padding: 1em;
	border:none;
	border-radius:3px;
}

#siguiente{
		margin-top: 1.3em;
}

.selected{
	background-color: #20c997;
}
.reduce{
	width: 50%;
	height: 50%;
}
@media(max-width: 360px){
	.card{
		height: 50vh;
	}
	#siguiente{
		margin-top: 2em;
	}
}